const quizData = [
    {
        question: "Who is the President of Canada?",
        a: "Emmanuel Macron",
        b: "Justin Trudeau",
        c: "Donald Trump",
        d: "Andrzej Duda",
        correct: "b",
    },
    {
        question: "Who is the Prime Minister of the UK?",
        a: "Joe Biden",
        b: "Xi Jinping",
        c: "Keir Starmer",
        d: "Volodymyr Zelenskyy",
        correct: "c",
    },
    {
        question: "Who is the President of China?",
        a: "Xi Jinping",
        b: "Droupadi Murmu",
        c: "Barrack Obama",
        d: "Abdel Fattah El-Sisi",
        correct: "a",
    },
    {
        question: "Who is the Prime Minister of Israel?",
        a: "Cyril Ramaphosa",
        b: "Sergio Mattarella",
        c: "Luiz Inácio Lula da Silva",
        d: "Benjamin Netanyahu",
        correct: "d",
    },
    {
        question: "Who is the President of the USA?",
        a: "Michael D. Higgins",
        b: "Justin Trudeau",
        c: "Joe Biden",
        d: "Emmanuel Macron",
        correct: "c",
    },
    {
        question: "Who is the President of Italy?",
        a: "Leo Varadkar",
        b: "Sergio Mattarella",
        c: "Donald Trump",
        d: "Katerina Sakellaropoulou",
        correct: "b",
    },
    {
        question: "Who is the President of South Africa?",
        a: "Emmanuel Macron",
        b: "Cyril Ramaphosa",
        c: "Shehbaz Sharif",
        d: "Sahle-Work Zewde",
        correct: "b",
    },
    {
        question: "Who is the President of Nigeria?",
        a: "Frank-Walter Steinmeier",
        b: "Justin Trudeau",
        c: "Bola Ahmed Tinubu",
        d: "Fumio Kishida",
        correct: "b",
    },
    {
        question: "Who is the President of Russia?",
        a: "Rishi Sunak",
        b: "Vladimir Putin",
        c: "Nana Akufo-Addo",
        d: "Isaias Afwerki",
        correct: "b",
    },
    {
        question: "Who is the President of Ethiopia?",
        a: "Emmanuel Macron",
        b: "Katerina Sakellaropoulou",
        c: "Sahle-Work Zewde",
        d: "Andrzej Duda",
        correct: "c",
    },
    ];